<!doctype html>
<html>
    
<head>
    <title>
    Project4
    </title>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
</head>
    
<body>
    <FORM NAME="FORM" METHOD="POST">
    <TABLE BORDER=1 class="table table-hover table-striped">
        <THEAD>
            <tr>
            <th>LABLE</th>
            <TH>FORM ELEMENTS</TH>
            </tr>
        </THEAD>
        <TBODY>
            <TR>
                <TD> USERNAME</TD>
                <TD> <INPUT TYPE="TEXT"; NAME="UNAME";  ID="UMANE"; PLACEHOLDER="ENTER USERNAME"; VALUE="SAMPLE"/></TD>
            </TR>
            <TR>
                <TD>PASSWORD</TD>
                <TD><INPUT TYPE="PASSWORD"; NAME="PASSWORD"ID="PASSWORD"; PLACEHOLDER="ENTER PASSWORD" ; VALUE="SAMPLE"/>  </TD>
            </TR>
            <TR>
                <TD> GENDER</TD>
                <TD> <INPUT TYPE="RADIO"; NAME="GENDER";  VALUE="MALE"/>MALE</TD>
            </TR>
            <TR>
                <TD> </TD>
                <TD> <INPUT TYPE="RADIO"; NAME="GENDER";  VALUE="FEMALE"/>FEMALE</TD>
            </TR>
            <TR>
                <TD> </TD>
                <TD> <INPUT TYPE="RADIO"; NAME="GENDER";  VALUE="ANONYMOUS"/>ANONYMOUS</TD>
            </TR>
            <TR>
                <TD> CARS</TD>
                <TD> <INPUT TYPE="CHECKBOX"; NAME="OWN";  VALUE="TOYOTA"/>TOYOTA</TD>
            </TR>
            <TR>
                <TD> </TD>
                <TD> <INPUT TYPE="CHECKBOX"; NAME="OWN";  VALUE="HUNDAI"/>HUNDAI</TD>
            </TR>
            <TR>
                <TD> </TD>
                <TD> <INPUT TYPE="CHECKBOX"; NAME="OWN";  VALUE="MUSTANG"/>MUSTANG</TD>
            </TR>
             <TR>
                <TD> </TD>
                <TD> <INPUT TYPE="CHECKBOX"; NAME="OWN";  VALUE="BMW"/>BMW</TD>
            </TR>
            <TR>
                <TD> </TD>
                <TD> <INPUT TYPE="CHECKBOX"; NAME="OWN";  VALUE="AUDI"/>AUDI</TD>
            </TR>
            <tr>
                <td>COUNTRIES</td>
           <TD> <SELECT NAME="COUNTRIES">
                
                <OPTION VALUE="NPR">NEPAL</OPTION>
                <OPTION VALUE="INDIA">india</OPTION>
                <OPTION VALUE="AFG">AFGAN</OPTION>
               <OPTION VALUES="NULL">SELECT A COUNTRY</OPTION>
            </SELECT>
               
               </TD>
                </tr>
            
        </TBODY>
    </TABLE>
        
            <INPUT TYPE="SUBMIT" VALUE="SUBMIT"/>
        </FORM>
</body>
</html>